nav.navbar.navbar-default
  .container
    .navbar-header
    a.navbar-brand(href='') SOUTHERN PROGRAMMING UNITED
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/' style="padding-right: 100px") Home
        li
          a(href='/about' style="padding-right: 100px") About
        li
          a(href='/needs' style="float: right") My Projects  