nav.navbar.navbar-default(style="background-color: gray")
  .container
    .navbar-header(style="background-color: gray")
    a.navbar-brand(href='' style="background-color:blue") SOUTHERN PROGRAMMING UNITED
      ul.nav.navbar-nav.navbar-right(style="background-color: gray")
        li
          a(href='/' style="padding-right: 100px; background-color: red") Home
        li
          a(href='/about' style="padding-right: 100px") About
        li
          a(href='/needs' style="float: right; background-color:blue") My Projects  