link(rel='stylesheet', href='/stylesheets/style.css')


nav.navbar.navbar-default(style="background-color: blue")
  .container
    .navbar-header
    a.navbar-brand(href='') Wiley Walker's Portfolio Page
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/' style="padding-right: 100px") Home
        li
          a(href='/about' style="padding-right: 100px") About
        li
          a(href='/needs' style="float: right") My Projects  